@font-face {
  font-family: "Plex Mono";
  src: url("/fonts/plex-mono-regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Plex Mono";
  src: url("/fonts/plex-mono-semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Silkscreen";
  src: url("/fonts/silkscreen-regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
